// autoprefixer: > 1%, last 2 versions, Firefox ESR
body,
html {
    background: #fafafa;
    width: 100%;
    height: 100%;
    font-family: Arial;
}

.flex-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-shrink: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    //box-sizing: border-box;
    width: 30vw;
    height: 30vw;
    box-shadow: -22px 22px 50px 1px rgba(34, 34, 34, 0.8);
    transform: rotateX(60deg) rotateZ(-45deg);
    //margin-left: 50%;
    border: 60px solid #B0BEC5;
    border-radius: 5px;
    background-color: #B0BEC5;
    &:before {
        content: "S I M O N";
        position: absolute;
        left: -30px;
        color: #fff;
        font-size: 2em;
        transform-origin: left;
        transform: rotateZ(90deg);
    }
}

.container div {
    width: 50%;
    height: 50%;
    background-color: #455A64;
    opacity: .8;
    transition: all .15s ease;
}

.r {
    //background: rgb(60, 0, 0);
    box-shadow: -2px 2px 10px 0 rgba(34, 34, 34, 0.6);
    &:active {
        transform: translateZ(15px) rotateX(-1deg) rotateY(-2deg);
        background-color: #F44336;
        box-shadow: -20px 20px 20px 3px rgba(34, 34, 34, 0.6);
        opacity: .9;
    }
}

.g {
    //background: rgb(0, 60, 0);
    box-shadow: -2px 2px 10px 0 rgba(34, 34, 34, 0.6);
    //transform: rotateY(-.1deg);
    &:active {
        transform: translateZ(15px) rotateX(-1deg) rotateY(-2deg);
        //background: lighten(rgb(0, 60, 0),50%);
        box-shadow: -20px 20px 20px 3px rgba(34, 34, 34, 0.6);
        background-color: #00E676;
        opacity: .8;
    }
}

.b {
    //background: rgb(0, 0, 60);
    box-shadow: -2px 2px 10px 0 rgba(34, 34, 34, 0.6);
    &:active {
        transform: translateZ(15px) rotateX(-1deg) rotateY(-2deg);
        box-shadow: -20px 20px 20px 3px rgba(34, 34, 34, 0.6);
        background-color: #304FFE;
        opacity: .8;
    }
}

.y {
    //background: rgb(60, 60, 0);
    box-shadow: -2px 2px 10px 0 rgba(34, 34, 34, 0.6);
    //transform: rotateY(-.1deg);
    &:active {
        transform: translateZ(15px) rotateX(-1deg) rotateY(-2deg);
        background-color: #FFEB3B;
        box-shadow: -20px 20px 20px 3px rgba(34, 34, 34, 0.6);
        opacity: .8;
    }
}
